@use "../../styles/globals/variables" as v;
@use "../../styles/globals/mixins" as m;

.cta-box {
  padding: var(--sp-md) 0;
  position: relative;
  overflow-y: visible;
  @include m.flex-center;
  background-image: linear-gradient(
    to right bottom,
    rgba(var(--tertiary-dark)) 10%,
    rgba(var(--primary-dark)) 25%,
    rgba(var(--secondary-dark)),
    rgba(var(--secondary))
  );

  $parent: &;

  &.dark,
  &.image {
    background-image: linear-gradient(
      to right bottom,
      rgba(var(--primary-dark)) 10%,
      rgba(var(--primary-dark)) 25%,
      rgba(var(--tertiary)),
      rgba(var(--tertiary-dark))
    );

    #{$parent}__bg {
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        display: block;
        background-image: linear-gradient(
          to right bottom,
          rgba(var(--primary-dark)) 10%,
          rgba(var(--primary-dark)) 25%,
          rgba(var(--tertiary)),
          rgba(var(--tertiary-dark))
        );
        opacity: 0.9;
      }
    }

    #{$parent}__title,
    #{$parent}__content > *:not(a) {
      color: rgb(var(--secondary-light));
    }

    #{$parent}__symbol {
      img {
        filter: brightness(0) invert(1);
      }

      path {
        fill: rgb(var(--secondary-light));
      }
    }
  }

  &.full {
    height: 100vh;
    padding-top: var(--sp-sm);
    padding-bottom: 0 !important;
    position: relative;

    @media (min-width: v.$ldpi) {
      padding-top: var(--sp-md);
    }

    #{$parent}__bg {
      &::after {
        background-image: linear-gradient(
          to bottom,
          transparent 40%,
          rgba(var(--tertiary), 0.6) 60%,
          rgba(var(--tertiary))
        );
      }

      img{
        object-position: top center;
      }
    }

    #{$parent}__symbol {
      display: none;
    }

    #{$parent}__wrapper {
      height: 100%;
      padding-top: var(--sp-md);
      background-image: linear-gradient(
        to top,
        transparent 5%,
        rgba(255, 255, 255, 0.2)
      );
      border-radius: 0;
      box-shadow: 0 24px 30px rgba(0, 0, 0, 0.1);

      @media (min-width: v.$ldpi) {
        padding-top: var(--sp-lg);
      }
    }

    #{$parent}__inner {
      justify-content: flex-start;
      gap: var(--sp-sm);
    }

    #{$parent}__title {
      text-align: center;
      color: rgb(var(--tertiary));
    }

    #{$parent}__content {
      color: rgb(var(--tertiary));

      & > *:not(a) {
        color: inherit;
      }
    }
  }

  &__wrapper {
    padding: var(--sp-sm);
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    @media (min-width: v.$mdpi) {
    }
  }

  &__symbol {
    min-width: 280px;
    height: auto;
    flex: 0 0 36rem;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
      object-position: center center;
    }

    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__inner {
    min-width: 280px;
    flex: 1 0 calc(100% - 40rem);
  }

  &__inner,
  &__main {
    @include m.flex-center;
    flex-direction: column;
    gap: var(--sp-xsm);
  }

  &__title {
    text-transform: uppercase;
    font-family: var(--font-titles);
    font-weight: 600;
    line-height: 1;
    color: rgba(var(--primary-dark));

    * {
      all: inherit;

      @media (max-width: calc(v.$ldpi - 1px)) {
        text-align: center;
        font-size: clamp(5rem, 6vw, 10rem) !important;
      }
    }
  }

  &__buttons {
    @include m.flex-center;
    flex-wrap: wrap;
    gap: var(--sp-xsm);
  }
}
