@use "../../styles/template-parts/team-card";
@use "../../styles/template-parts/post-card";
@use "../../styles/template-parts/default-card";
@use "../../styles/template-parts/testimonial-card";
@use "../../styles/template-parts/result-card";
@use "../../styles/globals/variables" as v;
@use "../../styles/globals/mixins" as m;

.posts-carousel {
  padding: var(--sp-sm) 0;
  position: relative;

  @media (min-width: v.$ldpi) {
    padding: var(--sp-md) 0;
  }

  $parent: &;

  &.dark {
    background-color: rgba(var(--tertiary));

    #{$parent}__title,
    #{$parent}__content > * {
      color: rgb(var(--secondary));
    }
  }

  &.team {
    #thumbnail-carousel {
      display: none;
    }

    #{$parent}__link {
      display: none;
    }

    @media (min-width: v.$mdpi) {
      #{$parent}__wrapper {
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
      }

      #{$parent}__content {
        width: 30%;
        position: absolute;
        top: 10%;
        left: 0;
        z-index: 2;
        align-items: flex-start;

        * {
          text-align: left;
        }
      }

      #{$parent}__link {
        display: inline-block;
      }

      #{$parent}__carousel {
        width: 70%;
        padding-top: 0;
        flex: 0 0 70%;
      }

      #{$parent}__symbol {
        width: 60rem;
        aspect-ratio: 1/1;
        position: absolute;
        top: var(--sp-lg);
        left: 25rem;
        display: block;

        svg {
          path {
            fill: rgb(var(--secondary));
          }
        }

        img {
          filter: brightness(0) invert(1);
        }

        svg,
        img {
          opacity: 0.1;
        }
      }
    }

    @media (min-width: v.$ldpi) {
      #{$parent}__card {
        opacity: 0;

        &.is-active {
          opacity: 1;
          transition: 0.3s ease 0.4s;
        }
      }

      #thumbnail-carousel {
        width: 100%;
        margin-top: calc(-1 * (28rem - ((var(--container) / var(--size)))));
        display: block;

        .splide__track {
          height: 28rem;
          padding-left: 3rem !important;
          padding-right: 3rem !important;
        }

        .splide__list {
          align-items: center;
          justify-content: center;
        }

        .thumbnail {
          width: calc((var(--container) / var(--size)) - 1.5rem);
          aspect-ratio: 1/1;
          position: relative;
          display: flex;
          align-items: flex-end;
          justify-content: center;

          &.is-active {
            transform: scale(1.2);
            padding-inline: 1rem;

            .thumbnail__wrapper {
              padding-bottom: 5px;
              &::after {
                opacity: 1;
                transition: opacity 0.3s ease 0.4s;
              }
            }

            .thumbnail__bg {
              width: calc(100% - 2rem);
            }
          }

          &__wrapper {
            &::after {
              content: "";
              width: calc(100% - 2rem);
              height: 100%;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              z-index: 0;
              border: 5px solid rgba(var(--tertiary));
              display: block;
              background-color: rgb(var(--primary-dark), 0.6);
              opacity: 0;
            }
          }

          &__bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
          }

          &__pic {
            width: 100%;
            position: relative;
            z-index: 1;
            display: flex;
            aspect-ratio: 1/1;

            img {
              object-fit: cover;
              object-position: bottom center;
            }
          }
        }
      }

      .thumbnails__arrows {
        width: 100%;
        position: absolute;
        top: var(--sp-md);
        left: 0;
        z-index: -1;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        @media (min-width: v.$ldpi) {
          width: 110%;
          top: 10rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      #{$parent}__arrows {
        display: none;
      }
    }
  }

  &.testimonial {
    padding-bottom: var(--sp-lg);

    #{$parent}__carousel {
      border-top: none;
    }

    #{$parent}__arrows {
      width: fit-content;
      margin-inline: auto;
      margin-top: var(--sp-md);
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      @media (min-width: v.$ldpi) {
        justify-content: center;
        gap: var(--sp-xsm);
      }
    }
  }

  &__symbol {
    display: none;
  }

  &__wrapper {
    @include m.flex-center;
    flex-direction: column;
  }

  &__content {
    @include m.flex-center;
    flex-direction: column;
    gap: var(--sp-xsm);
  }

  &__title {
    @include m.title(rgba(var(--tertiary)), 3rem, 4.5vw, 10rem, 600, 1);
  }

  &__subtitle {
    font-family: var(--font-titles);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: rgb(var(--primary-dark));
  }

  &__separator {
    max-width: 70%;
    margin-bottom: var(--sp-xsm);
  }

  &__content {
    max-width: 96rem;
  }

  &__carousel {
    width: 100%;
    padding-top: var(--sp-xsm);
  }

  &__card {
    padding-inline: calc(var(--sp-xsm) / 2);
  }

  &__arrows {
    margin-top: var(--sp-sm);
  }

  &__link {
    display: none;
  }
}
