@use "../../styles/globals/variables" as v;
@use "../../styles/globals/mixins" as m;

.page__main,
.single__main {
  .faq__wrapper {
    padding: 0;
    border: none;
  }
}

.faq {
  padding: var(--sp-sm) 0;

  @media (min-width: v.$ldpi) {
    padding: var(--sp-lg) 0;
  }

  $parent: &;

  &:not(.bg-gradient) {
    #{$parent}__title,
    #{$parent}__content > *,
    #{$parent}__question > *,
    #{$parent}__answer .formatted-text > *:not(a) {
      color: rgb(var(--text));
    }
    #{$parent}__answer {
      border-bottom-color: rgb(var(--tertiary));
    }
  }

  &__wrapper {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: var(--sp-lg);
  }

  &__separator {
    svg {
      width: 8rem;
      height: 8rem;
      padding: 1rem;
      display: block;
      border-radius: 50%;
      border: 2px solid rgb(var(--tertiary-light));
      background-color: rgba(var(--secondary-light), 1);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }

  &__side-images {
    width: 80%;
    height: 38rem;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;

    @media (min-width: v.$tablet) {
      height: 60rem;
    }
    @media (min-width: v.$ldpi) {
      height: auto;
      flex: 1 0 calc(50% - (var(--sp-lg) / 2));
    }
  }

  &__side-image {
    width: 100%;
    height: 90%;
    flex: 0 0 calc(50% - 0.5rem);
    display: block;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center center;
    }

    &:first-child {
      align-self: flex-start;
      @include m.nice-corner("bottom-left", null, 0, 90%, $bw-lg: 5px);
      &::before {
        bottom: -1rem;
        border-left: none;
      }
    }

    &:nth-of-type(2) {
      align-self: flex-end;
      @include m.nice-corner("top-right", null, -1rem, 20%, $bw-lg: 5px);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--sp-xsm);

    @media (min-width: v.$ldpi) {
      flex: 1 0 calc(50% - (var(--sp-lg) / 2));
    }
  }

  &__content {
    max-width: 96rem;
    & > *:not(a) {
      color: rgb(var(--secondary-light));
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-family: var(--font-content);
    font-size: clamp(4rem, 2.2vw, 5.5rem);
    color: rgb(var(--secondary-light));
  }

  &__sections {
    width: 100%;
    @include m.flex-center;
    flex-direction: column;
    gap: var(--sp-sm);
  }

  &__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--sp-xsm);
  }

  &__heading {
    @include m.title(null, 3rem, 3.3vw, 3.6rem);
  }

  &__item {
    width: 100%;
    padding-block: var(--sp-xsm);

    &:last-child {
      #{$parent}__answer {
        border-bottom: none;
      }
    }

    &.open {
      #{$parent}__question {
        & > * {
          &::after {
            display: block;
          }
        }
      }
    }
  }

  &__question {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    & > * {
      @include m.title(rgba(var(--secondary-light)), 1.4rem, 2vw, 2rem);
      text-transform: uppercase;
      &::after {
        display: none;
      }
    }
  }

  &__answer {
    border-bottom: 1px solid rgba(var(--secondary), 0.6);

    .formatted-text {
      & > *:not(a) {
        color: rgb(var(--secondary-light));
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
