@use "../../styles/globals/variables" as v;
@use "../../styles/globals/mixins" as m;

.content-box-grid {
  padding: var(--sp-xsm);

  @media (min-width: v.$ldpi) {
    padding: var(--sp-md) var(--sp-sm) var(--sp-sm);
  }

  &__wrapper {
    @include m.flex-center;
    flex-direction: column;
    gap: var(--sp-xsm);
  }

  &__title {
    @include m.title(null, 4rem, 4.2vw, 4.8rem);
    &::after {
      content: none;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: var(--sp-xsm);
  }
}

.content-box {
  max-width: 61.2rem;
  min-width: 280px;
  height: auto;
  padding-block: var(--sp-xsm);
  display: block;
  flex: 1 0 calc(50% - (var(--sp-sm) / 2));

  $parent: &;

  &__wrapper {
    height: 100%;
    padding: var(--sp-sm);
    display: block;
    background-color: rgb(var(--primary));
  }

  &__title {
    margin-bottom: var(--sp-xsm);
    @include m.title(rgb(var(--secondary-light)), 2rem, 2vw, 2.4rem);

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: v.$tablet) {
      &::after {
        left: 0;
        transform: none;
      }
    }

    a {
      all: inherit;
      transition: 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__content {
    display: inline-block;
    text-align: center;

    & > * {
      color: rgb(var(--secondary-light));
    }

    @media (min-width: v.$tablet) {
      text-align: left;

      & > *:nth-child(2) {
        margin-top: var(--sp-xsm);
      }
    }
  }

  &--menu-item {
    max-width: 30.2rem;
    padding-block: 0;
    border-left: 3px solid rgb(var(--tertiary));
    flex: 1 0 calc(25% - var(--sp-xsm) * 3 / 4);
    transition: 0.3s ease-in-out;

    &:hover {
      cursor: pointer;

      #{$parent}__wrapper {
        background-color: rgb(var(--secondary-dark));
      }

      #{$parent}__title {
        color: rgb(var(--tertiary));
      }
    }

    #{$parent}__wrapper {
      padding: var(--sp-xsm);
    }

    #{$parent}__title {
      margin-bottom: 0;
      transition: 0.3s ease-in-out;
      font-family: var(--font-secondary);
      font-size: 1.8rem;
    }
  }
}

.page__main,
.single__main {
  .content-box-grid {
    &__wrapper {
      padding: 0;
    }
  }

  .content-box {
    max-width: 100%;
  }
}

.sidebar {
  .content-box-grid {
    &__wrapper {
      width: 100%;
      margin: 0 0;
      padding: 0;
    }
  }

  .content-box {
    max-width: 100%;
    flex: 1 0 100%;
  }
}