@use "globals/variables" as v;
@use "globals/mixins" as m;
@use "./location-card";

.site-footer {
  position: relative;
  z-index: 5;
  overflow: visible;
  background-color: transparent;

  &__bg {
    img {
      mask-image: linear-gradient(
        transparent 5%,
        rgba(var(--primary-dark)) 100%
      );
    }
  }

  //Footer Form Section
  .contact-form-footer {
    position: relative;

    &__wrapper {
      padding: 3rem;
      background-color: rgb(var(--primary));

      @media (min-width: v.$ldpi) {
        padding: 4rem;
      }
    }

    &__inner {
      margin: 0 auto;
      @include m.flex-center;
      flex-wrap: wrap;
    }

    &__col {
      min-width: 280px;
      flex: 1 0 50%;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      &:first-child {
        padding-inline: 1rem;
      }
    }

    &__title {
      @include m.title(
        rgb(var(--secondary-light)),
        4rem,
        4vw,
        8rem,
        600,
        1,
        $after: false
      );
      text-transform: uppercase;
    }

    &__description {
      color: rgb(var(--secondary-light));
    }

    &__form {
      flex: 1 0 calc(50% - var(--sp-sm) / 2);
      @include m.flex-center;
      flex-direction: column;
      gap: var(--sp-xsm);

      .gform-field-label {
        color: rgb(var(--secondary-light));
      }
    }
  }

  .footer-menu {
    padding-block: 5rem;

    &__wrapper {
      @include m.flex-center;
      gap: 5rem;
    }

    .menu-item {
      span {
        text-transform: uppercase;
        text-align: center;
        font-family: var(--font-content);
        color: rgb(var(--secondary-light));
        transition: .3s ease-in-out;

        &:hover {
          cursor: pointer;
          color: rgb(var(--secondary-dark));
        }
      }
    }
  }

  .copyright-footer {
    width: 100%;
    padding: var(--sp-xsm) 0;
    background: linear-gradient(
      to bottom,
      rgba(var(--primary-light), 1) 0%,
      rgba(var(--primary), 1) 100%
    );

    @media (min-width: v.$mdpi) {
      padding: var(--sp-sm) 0;
    }

    &__wrapper {
      @include m.flex-center;
      gap: var(--sp-xsm);
      flex-wrap: wrap;
    }

    &__advertisement {
      color: rgb(var(--secondary-light));
      text-align: center;
      font-size: clamp(1.6rem, 1.6rem + 0.5vw, 2rem);
      line-height: 1.5;
    }

    &__logo {
      flex: 0 0 100%;
      @include m.flex-center;
    }
  }

  .footer-nav {
    &__menu {
      @include m.flex-center;
      gap: var(--sp-xsm);

      @media (min-width: v.$tablet) {
        flex-direction: row;
      }
    }

    .menu-item {
      padding-right: var(--sp-xsm);

      &:first-of-type {
        padding-left: var(--sp-xsm);
        border-left: 2px solid rgba(var(--secondary-light), 0.5);
      }

      &:not(:last-of-type) {
        border-right: 2px solid rgba(var(--secondary-light), 0.5);
      }

      span {
        font-size: clamp(1.6rem, 1.6rem + 0.5vw, 2rem);
        line-height: 1.5;
        color: rgb(var(--secondary-light));
        transition: 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          color: rgb(var(--tertiary));
        }
      }
    }
  }
}
