@use "globals/variables" as v;
@use "globals/mixins" as m;

.hero {
  min-height: 35rem;
  padding: 15rem 0 var(--sp-xsm);
  border-bottom: 5px solid rgb(var(--tertiary-light));

  $hero: &;

  @media (min-width: v.$tablet) {
    padding: 10rem 0 var(--sp-xsm);
  }

  @media (min-width: v.$mdpi) {
    padding: 20rem 0 var(--sp-md);
  }

  &__wrapper {
    @include m.flex-center;
    flex-wrap: wrap;
    gap: var(--sp-xsm);
  }

  &__content,
  &__side-portrait {
    min-width: 280px;
  }

  &__content {
    padding: var(--sp-sm);
    @include m.flex-center;
    flex-direction: column;
    gap: var(--sp-xsm);

    @media (min-width: v.$ldpi) {
      max-width: 70%;
      flex: 1 0 calc(55% - (var(--sp-xsm) / 2));
    }

    @media (min-width: v.$mdpi) {
      flex: 1 0 calc(65% - (var(--sp-xsm) / 2));
    }
  }

  &__side-portrait {
    width: 100%;
    height: 36rem;
    max-height: 100%;
    display: block;
    align-self: flex-end;

    @media (min-width: v.$ldpi) {
      height: 65rem;
      flex: 1 0 calc(45% - (var(--sp-xsm) / 2));
    }

    @media (min-width: v.$mdpi) {
      flex: 1 0 calc(35% - (var(--sp-xsm) / 2));
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom center;

      @media (min-width: v.$ldpi) {
        object-fit: cover;
      }

      @media (min-width: v.$mdpi) {
        object-fit: contain;
      }
    }
  }

  &__title {
    margin: 0;
    @include m.title(
      rgb(var(--secondary)),
      4rem,
      2.5vw,
      6.5rem,
      700,
      $after: false
    );

    & > * {
      all: inherit;
    }
  }

  &--homepage {
    min-height: 100vh;
    padding-bottom: 15rem;
    position: relative;
    overflow: visible;
    content-visibility: visible;
    border-bottom: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgb(var(--primary-dark));

    @media (min-width: v.$tablet) {
      padding-bottom: 12rem;
    }

    @media (min-width: v.$mdpi) {
      padding-top: 24rem;
    }

    &::before {
      content: "";
      width: 82%;
      height: 15.4rem;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: block;
      background: linear-gradient(
        to right,
        rgba(var(--tertiary)) 0%,
        rgba(var(--primary-dark)) 20%,
        rgba(var(--tertiary-dark)) 70%,
        rgba(var(--primary)) 100% /* azul brillante en punta derecha */
      );
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }

    &::after {
      content: "";
      width: 18%;
      height: 18rem;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      display: block;
      background: #1f4bcf;
      background: linear-gradient(
        167deg,
        rgba(var(--primary-dark)) 0%,
        rgba(var(--primary)) 70%,
        rgba(var(--primary-dark)) 20%,
        rgba(var(--tertiary-dark)) 100%
      );
      clip-path: polygon(0 100%, 100% 0%, 100% 100%);
    }

    /* #{$hero}__wrapper {
    } */

    #{$hero}__content {
      max-width: fit-content;
      width: auto;
      padding: 0;
      flex: 1;
    }

    #{$hero}__title {
      margin: 0;
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-family: var(--font-titles);
      font-size: clamp(5rem, 5vw, 10rem);
      font-weight: 600;
      line-height: 1;
      color: rgb(var(--secondary-light));

      * {
        line-height: inherit;
        color: currentColor;

        @media (max-width: v.$ldpi) {
          font-size: inherit !important;
        }
      }

      br {
        line-height: 0;
      }
    }

    #{$hero}__badge {
      width: 20rem;
      aspect-ratio: 1/1;
      position: absolute;
      right: 0;
      bottom: -8rem;
      z-index: 10;
      display: flex;
      flex-wrap: wrap;
      gap: var(--sp-sm);
      align-items: center;
      justify-content: space-evenly;

      @media (min-width: v.$tablet) {
        right: calc(18% - 10rem);
      }

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: contain;
      }

      .content {
        width: 100%;
        max-height: 100%;
        display: block;

        * {
          margin: 0;
          font-family: var(--font-titles);
          line-height: 1;
          color: rgba(var(--primary-dark), 0.8);

          &:has(strong) {
            line-height: 0.9;
          }
        }

        strong {
          line-height: 0.8;
        }
      }
    }
  }

  &--v2 {
    padding: 16rem 0;
    @include m.flex-center;

    #{$hero}__bg-image {
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        background: linear-gradient(
          0deg,
          rgb(var(--primary), 0.7) 0%,
          rgb(var(--primary)) 100%
        );
        opacity: 0.75;
      }
    }

    #{$hero}__title {
      margin-bottom: var(--sp-xsm);
      @include m.title(rgb(var(--secondary)), 4rem, 6.2vw, 6.4rem, null, 1);

      & > * {
        all: inherit;
      }
    }

    #{$hero}__subtitle {
      margin-bottom: var(--sp-xsm);
      font-family: var(--font-content);
      color: rgb(var(--secondary-light));
    }
  }

  &--v3 {
    padding: 16rem 0;
    @include m.flex-center;

    #{$hero}__bg-image {
      &::after {
        background: linear-gradient(
          360deg,
          rgb(var(--primary-dark)) 0%,
          rgb(var(--primary)) 100%
        );
      }
    }

    #{$hero}__content {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }

    .content-box {
      width: 100%;
      background-color: rgba(var(--primary), 0.75);

      &__title {
        @include m.title(rgb(var(--secondary)), 4rem, 6.2vw, 8rem, null, 1);
        & > * {
          all: inherit;
        }
      }

      &__subtitle {
        color: rgb(var(--secondary-light));
        font-family: var(--font-content);
        font-size: 2rem;
      }
    }
  }

  &--v4 {
    #{$hero}__wrapper {
      @media (min-width: v.$tablet) {
        flex-direction: row-reverse;
      }
    }

    #{$hero}__content {
      padding: 0;
    }

    .content-box {
      background-color: transparent;

      &__inner {
        padding: 0;
        align-items: flex-start;
      }

      &__main {
        padding-left: var(--sp-sm);
        border-left: 5px solid rgb(var(--tertiary));
      }

      &__title {
        margin-bottom: var(--sp-xsm);
        @include m.title(rgb(var(--secondary)), 4rem, 6.2vw, 7rem, null, 1);

        & > * {
          all: inherit;
        }
      }

      &__subtitle {
        color: rgb(var(--secondary-light));
        font-family: var(--font-content);
      }

      &__btn {
        flex-wrap: wrap;
        justify-content: flex-start;

        &::after,
        &::before {
          content: none;
        }
      }
    }
  }

  &--v5 {
    padding: 38rem 0 6.5rem;
    @include m.flex-center;

    #{$hero}__bg-image {
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        background: linear-gradient(
          360deg,
          rgba(var(--primary), 0) 50%,
          rgba(var(--primary), 0.8) 75%,
          rgb(var(--primary)) 100%
        );
      }
      &::after {
        content: "";
        width: 100%;
        height: 60%;
        position: absolute;
        top: unset;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        background: linear-gradient(
          180deg,
          rgba(var(--primary), 0) 0%,
          rgba(var(--primary), 0.5) 25%,
          rgb(var(--primary)) 100%
        );
      }
    }

    #{$hero}__content {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }

    #{$hero}__title {
      margin-bottom: var(--sp-xsm);
      @include m.title(rgb(var(--secondary)), 4rem, 6.2vw, 8rem, null, 1);

      & > * {
        all: inherit;
      }
    }

    #{$hero}__subtitle {
      max-width: 700px;
      margin-bottom: var(--sp-xsm);
      font-family: var(--font-content);
      color: rgb(var(--secondary-light));
    }
  }

  &--v6 {
    #{$hero}__wrapper {
      @media (min-width: v.$ldpi) {
        align-items: center;
      }
    }

    #{$hero}__content {
      padding: 0;
    }

    #{$hero}__side-portrait {
      @media (min-width: v.$ldpi) {
        height: 55rem;
      }
    }

    .content-box {
      background-color: transparent;

      &__inner {
        padding: 0;
        align-items: flex-start;
        gap: var(--sp-xsm);
        text-align: center;

        @media (min-width: v.$tablet) {
          text-align: left;
        }
      }

      &__main {
        margin-bottom: var(--sp-xsm);
        padding-block: var(--sp-sm);
        position: relative;

        &::after,
        &::before {
          content: "";
          width: 100%;
          height: 1px;
          position: absolute;
          z-index: -1;
          display: block;
          background-color: rgb(var(--tertiary));

          @media (min-width: v.$tablet) {
            width: 150%;
          }
        }

        &::before {
          top: 0;
          left: 0;
        }

        &::after {
          bottom: 0;
          left: 0;
        }
      }

      &__tagline {
        margin-bottom: var(--sp-xsm);
        color: rgba(var(--secondary));
        font-size: clamp(2.2rem, 2.4vw, 2.8rem);
      }

      &__title {
        margin-bottom: var(--sp-xsm);
        @include m.title(rgb(var(--secondary)), 4rem, 6.2vw, 4.8rem, null, 1);

        & > * {
          all: inherit;
        }
      }

      &__subtitle {
        color: rgb(var(--secondary-light));
        font-size: 2rem;
        font-family: var(--font-content);
      }

      &__btn {
        margin-block: var(--sp-md);
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: v.$tablet) {
          justify-content: flex-start;
        }

        &::after,
        &::before {
          content: none;
        }
      }
    }
  }
}
