@use "../globals/variables" as v;
@use "../globals/mixins" as m;

.location-card {
  margin-bottom: 4px;
  padding: 1rem;

  $card: &;

  &.accordion .accordion__heading {
    padding: var(--sp-xsm);

    &::after {
      margin-left: var(--sp-xsm);
      color: rgb(var(--secondary-light));
    }
  }

  &__container {
    background: linear-gradient(
      325deg,
      rgba(var(--primary)) 0%,
      rgba(var(--tertiary)) 20%
    );
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    }
  }

  &__city {
    @include m.flex-center;
    text-transform: uppercase;
    font-size: 3.6rem;
    font-family: var(--font-secondary);
    font-weight: 600;
    color: rgb(var(--secondary-light));
    line-height: 1;
    transition: 0.3s ease;

    & > a {
      all: inherit;
      padding: 0;
      border: none;

      &:hover {
        cursor: pointer;
        color: rgb(var(--primary-light));
      }
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    @include m.flex-center;
  }

  &__inner {
    width: 100%;
    height: 100%;
    padding-block: 0 !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  &__row {
    width: 100%;

    &:last-of-type {
      padding: var(--sp-sm);
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: var(--sp-xsm);
      border-inline: 1px solid rgb(var(--tertiary-light), 0.5);
    }
  }

  &__map {
    width: 100%;
    height: 27rem;
    position: relative;
    display: flex;
    background: linear-gradient(135deg, #f5f5f5 0%, #e8e8e8 100%);

    iframe {
      width: 100%;
      height: 100%;
      z-index: 5;
    }
  }

  &__icon {
    width: 40px;
    height: 35px;

    svg {
      width: 100%;
      height: 100%;
      display: block;
      color: rgb(var(--primary));
    }
  }

  &__address {
    max-width: 20rem;
    font-style: normal;
    font-size: 1.9rem;
    line-height: 1.5;
    color: rgba(var(--secondary-light));
  }

  &__cta {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.2;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: rgb(var(--secondary-dark));
  }

  &__btn {
    width: fit-content;
    padding: 1rem var(--sp-xsm);
    @include m.flex-center;
    flex-wrap: nowrap;
    gap: 8px;

    &::before {
      content: none;
    }

    span {
      font-size: 1.8rem;
    }
  }
}
