@use "../globals/variables" as v;
@use "../globals/mixins" as m;

//Pagination
.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: stretch;

  .arrow,
  .btn {
    height: auto;
    position: relative;
    display: flex;
    align-items: center;

    &:has(a) {
      padding: 0;
      border-left: none;
    }

    a {
      padding: 1.6rem 2.4rem;
      @include m.flex-center;
    }

    &--prev {
      border: none;    
    }

    &--next {
      border: none;
    }

    &__placeholder {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      opacity: 0;
    }

    svg {
      width: 45px;
      height: 45px;
      path {
        fill: rgb(var(--tertiary));
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--sp-xsm);

  &__item {
    margin: 0;
    font-family: var(--font-titles);
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    @include m.flex-center;
    background: rgb(var(--secondary-light));
    border: none;
    color: rgb(var(--primary));

    span,
    a {
      all: inherit;
      width: 55px;
      height: 55px;
      @include m.flex-center;
      padding: 5px;
      border: none;
      border-radius: 0;
      background-color: transparent;
    }

    a {
      &:hover {
        cursor: pointer;
      }
    }

    &--current {
      border-radius: 50%;
      border: 2px solid rgb(var(--tertiary));
      background-color: rgb(var(--primary-dark));
      color: rgb(var(--secondary-light));
    }

    &.arrow {
      all: unset;
      @extend .arrow;
      padding: 0;

      a {
        padding: 0;
        color: rgb(var(--primary-dark));

        svg path {
          fill: rgb(var(--primary-dark));
        }
      }
    }
  }
}

.splide__pagination {
  &--ltr {
    margin-block: var(--sp-sm);
    @include m.flex-center;
    gap: 1rem;

    li {
      width: 1.2rem;
      height: 1.2rem;
      @include m.flex-center;
      border: 1.5px solid rgb(var(--primary));
      border-radius: 50%;

      &:has(.is-active) {
        border: 1.5px solid rgb(var(--tertiary));
      }

      button {
        width: 0.6rem;
        height: 0.6rem;
        display: block;
        background-color: rgb(var(--primary));
        border-radius: 50%;

        &.is-active {
          background-color: rgb(var(--tertiary));
        }
      }
    }
  }
}

.splide__arrow {
  background: none;
}
