@use "../globals/variables" as v;
@use "../globals/mixins" as m;

.team-card {
  height: auto;
  padding-inline: 0 !important;

  $card: &;

  &.dark {
    #{$card}__title {
      color: rgb(var(--primary));
    }
    
    #{$card}__content {
      color: rgb(var(--secondary-light));
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    @include m.flex-center;
    flex-direction: column;
    gap: var(--sp-xsm);

    @media (min-width: v.$ldpi) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-end;
    }
  }

  &__pic-wrapper {
    min-width: 28rem;
    max-height: 55rem;
    width: 100%;
    min-height: 18rem;
    height: 100%;
    aspect-ratio: 4/2;
    position: relative;
    display: flex;

    @media (min-width: v.$tablet) {
      width: 60%;
      aspect-ratio: 4/3;
    }

    @media (min-width: v.$ldpi) {
      width: 100%;
      aspect-ratio: unset;
      flex: 0 0 calc(55% - var(--sp-xsm));
      align-self: flex-end;
      background: none;
    }
  }

  &__pic {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
      object-position: top center;
      transition: 0.3s ease-in-out;

      @media (min-width: v.$ldpi) {
        object-fit: cover;
      }
    }

    @media (min-width: v.$ldpi) {
    }
  }

  &__inner {
    min-width: 28rem;
    padding: var(--sp-xsm) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sp-xsm);
    transition: padding 0.4s ease;

    @media (min-width: v.$ldpi) {
      align-items: flex-start;
      flex: 0 0 calc(45% - var(--sp-xsm));
    }
  }

  &__title {
    margin-bottom: 0;
    text-transform: uppercase;
    @include m.title(rgba(var(--primary-dark)), 2.2rem, 4vw, 6rem, 500, 1);

    @media (min-width: v.$ldpi) {
      text-align: left;
    }
  }

  &__content {
    text-align: center;
    color: rgb(var(--tertiary));

    @media (min-width: v.$ldpi) {
      text-align: left;
      font-size: 1.8rem;
      line-height: 1.7;
    }
  }

  &__btn {
    width: fit-content;
  }
}
