@use "../../styles/globals/variables" as v;
@use "../../styles/globals/mixins" as m;

.content-intro {
  position: relative;
  z-index: 5;
  padding: var(--sp-sm) 0 var(--sp-md);
  overflow: visible;
  background-color: rgba(var(--secondary));

  @media (min-width: v.$ldpi) {
    padding: var(--sp-md) 0 var(--sp-lg);
  }

  $parent: &;

  &.dark,
  &.image {
    background-color: rgba(var(--tertiary));

    *:not(a) {
      color: rgb(var(--secondary)) !important;
    }

    &__pretitle {
      color: rgb(var(--secondary-dark));
    }
  }

  &:not(:has(.inner-cta-box__content)) {
    .inner-cta-box {
      padding: 0;
      border-top: none;
    }

    @media (min-width: v.$tablet) {
      .inner-cta-box__buttons {
        padding-inline: var(--sp-xsm);
        justify-content: flex-start;
      }
    }

    @media (min-width: v.$ldpi) {
      .inner-cta-box {
        padding: 0;
        grid-row: 2/3;
        grid-column: 2/3;
      }

      .col--image {
        grid-row: 1/3;
      }
    }
  }

  &:has(.col--image.bottom) {
    padding-bottom: 5rem;
    background-color: rgb(var(--secondary-light));
    @media (min-width: v.$ldpi) {
      padding-bottom: 65rem;
    }
  }

  &__wrapper {
    @include m.flex-center;
    flex-direction: column;
    gap: var(--sp-sm);

    @media (min-width: v.$ldpi) {
      display: grid;
      grid-template-columns: 35% 65%;
      place-content: center;
      row-gap: 0;
    }

    @media (min-width: v.$mdpi) {
      grid-template-columns: 45% 55%;
      row-gap: 0;
    }
  }

  .col {
    max-width: 100%;
    padding: var(--sp-xsm);
    @include m.flex-center;
    justify-content: flex-end;
    flex-wrap: wrap;

    @media (min-width: v.$ldpi) {
      grid-column: 2/3;
    }

    &--image {
      position: relative;

      @media (min-width: v.$ldpi) {
        height: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
      }

      &.bottom {
        width: 100%;
        max-height: 35rem;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        @include m.flex-center;

        @media (min-width: v.$ldpi) {
          max-height: 65rem;
        }

        picture {
          width: 100% !important;
          height: 100% !important;
        }

        img {
          mask-image: linear-gradient(
            to top,
            rgba(var(--secondary)),
            transparent 130%
          );
          object-fit: cover;
          object-position: center center;
        }

        .col__symbol {
          width: 30rem;
          height: 30rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          img,
          svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          img {
            filter: brightness(0) invert(1)
              drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
            opacity: 0.5;
          }

          svg {
            path {
              fill: rgb(var(--secondary), 0.2);
            }
          }
        }

        & + .col {
          @media (min-width: v.$ldpi) {
            grid-column: 1/3;
            grid-row: 1/3;
            display: flex;
            flex-direction: row;
            align-items: stretch;

            & > * {
              padding-inline: var(--sp-xsm);
              flex: 0 0 50%;
            }

            .col__title {
              padding-bottom: 6.4rem;
              border-bottom: 0;
              line-height: 0.95;
            }

            .col__content {
              padding-left: var(--sp-sm);
              border-left: 1px solid rgb(var(--tertiary));
            }
          }
        }

        & ~ .inner-cta-box:not(:has(.inner-cta-box__content)) {
          grid-column: 1/2;
          grid-row: 2/3;

          @media (min-width: v.$ldpi) {
            align-self: end;
          }

          .inner-cta-box__buttons {
            padding-bottom: var(--sp-sm);

            @media (min-width: v.$ldpi) {
              padding-left: var(--sp-sm);
            }
          }
        }
      }
    }

    &__image {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: stretch;

      @media (min-width: v.$ldpi) {
        width: 95%;
        height: 32rem;
        align-self: stretch;
      }

      @media (min-width: v.$mdpi) {
        height: 85%;
      }

      img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
        object-position: bottom right;
      }
    }

    &__symbol {
      width: 20rem;
      aspect-ratio: 1/1;
      display: block;
      position: absolute;
      top: 2rem;
      left: var(--sp-sm);
      z-index: -1;

      @media (min-width: v.$mdpi) {
        width: 60%;
      }

      hr {
        display: none;
      }

      picture,
      svg {
        width: 100%;
        height: 100%;
        display: block;
      }

      svg {
        path {
          fill: rgb(var(--primary));
        }
      }
    }

    &__pretitle {
      flex: 0 0 100%;
      color: rgb(var(--tertiary-light));
      text-align: center;

      @media (min-width: v.$tablet) {
        text-align: left;
      }
    }

    &__title {
      margin-bottom: var(--sp-xsm);
      padding-bottom: var(--sp-xsm);
      flex: 0 0 100%;
      border-bottom: 2px solid rgb(var(--primary));
      @include m.title(rgba(var(--tertiary)), 4rem, 2vw, 6rem, 700, 0.9);
      text-transform: uppercase;
      text-align: center;

      @media (min-width: v.$tablet) {
        text-align: left;
      }

      * {
        color: currentColor;
        font-weight: inherit;
        line-height: inherit;

        @media (max-width: calc(v.$ldpi - 1px)) {
          font-size: clamp(4rem, 2vw, 6rem) !important;
        }
      }
    }

    &__content {
      flex: 0 0 100%;

      *:not(a) {
        text-align: center;
        color: rgb(var(--text));
        font-size: 1.8rem;
        line-height: 1.8;

        @media (min-width: v.$tablet) {
          text-align: left;
        }
      }
    }
  }

  .inner-cta-box {
    padding: var(--sp-sm);
    position: relative;
    grid-column: 1/3;
    grid-row: 2/3;
    @include m.flex-center;
    flex-wrap: wrap;
    gap: var(--sp-sm);
    border-top: 2px solid rgba(var(--primary));

    &__buttons {
      min-width: 280px;
      flex: 1 0 calc(45% - var(--sp-sm));
      @include m.flex-center;
      flex-wrap: wrap;
      gap: var(--sp-xsm);

      .btn {
        &:has(svg) {
          max-width: 28rem;
          min-width: auto;
          width: 24rem;
          display: flex;
          align-items: center;

          @media (min-width: v.$tablet) {
            width: 28rem;
          }

          svg {
            width: 4rem;
            height: 4rem;
            display: block;
            fill: rgb(var(--primary));
            color: rgb(var(--primary));

            path {
              fill: rgb(var(--primary));
              stroke: rgb(var(--primary));
            }
          }

          span {
            width: 24rem;
            padding-left: 10px;
            display: inline-block;
            font-size: 2.2rem;
            line-height: 1;
          }
        }
      }
    }

    &__content {
      min-width: 280px;
      flex: 1 0 55%;
      font-size: 1.6rem;

      *:not(a) {
        text-align: center;
        color: rgb(var(--tertiary));

        @media (min-width: v.$tablet) {
          text-align: left;
        }
      }
    }
  }
}
